@inject IViewLocalizer Localizer

<div>
    <a id="switchTheme" class="text-reset text-decoration-none" href="#" role="button" title="@Localizer["Select theme"]" aria-label="@Localizer["Select theme"]">
        <svg class="bi" width="16" height="16" fill="currentColor" aria-hidden="true" focusable="false">
            <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#circle-half" />
        </svg>
    </a>
</div>

@* Note: Update CSP hash on _Layout.cshtml if this code changes! *@
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnSwitchTheme = document.getElementById('switchTheme');
        btnSwitchTheme.addEventListener('click', function () {
            if (document.documentElement.getAttribute('data-bs-theme') === 'dark' ) {
                document.documentElement.setAttribute('data-bs-theme', 'light')
            }
            else {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            }
        });
    });
</script>