@model FoodBusinessOperator

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" aria-describedby="FoodBusinessOperatorNameHelp" />
    <div id="FoodBusinessOperatorNameHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Name").FirstOrDefault()?.Description</div>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="BusinessName" class="form-label"></label>
    <input asp-for="BusinessName" class="form-control" aria-describedby="FoodBusinessOperatorBusinessNameHelp" />
    <div id="FoodBusinessOperatorBusinessNameHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "BusinessName").FirstOrDefault()?.Description</div>
    <span asp-validation-for="BusinessName" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control" aria-describedby="FoodBusinessOperatorAddressHelp" />
    <div id="FoodBusinessOperatorAddressHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Address").FirstOrDefault()?.Description</div>
    <span asp-validation-for="Address" class="text-danger"></span>
</div>