@model ResponsibleConsumption

<div class="form-check">
    <img class="img-fluid float-end ms-5"
         style="max-height: 50px"
         loading="lazy"
         src="~/img/warning-drinking-during-pregnancy.svg"
         alt="logo"
    >
    <input asp-for="WarningDrinkingDuringPregnancy" class="form-check-input" type="checkbox" aria-describedby="WarningDrinkingDuringPregnancyHelp" />
    <label asp-for="WarningDrinkingDuringPregnancy" class="form-check-label"></label>
    <div id="WarningDrinkingDuringPregnancyHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingDuringPregnancy").FirstOrDefault()?.Description</div>
    <span asp-validation-for="WarningDrinkingDuringPregnancy" class="text-danger"></span>
</div>
<div class="form-check">
    <img class="img-fluid float-end ms-5"
         style="max-height: 50px"
         loading="lazy"
         src="~/img/warning-drinking-below-legal-age.svg"
         alt="logo"
    >
    <input asp-for="WarningDrinkingBelowLegalAge" class="form-check-input" type="checkbox" aria-describedby="WarningDrinkingBelowLegalAgeHelp" />
    <label asp-for="WarningDrinkingBelowLegalAge" class="form-check-label"></label>
    <div id="WarningDrinkingBelowLegalAgeHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingBelowLegalAge").FirstOrDefault()?.Description</div>
    <span asp-validation-for="WarningDrinkingBelowLegalAge" class="text-danger"></span>
</div>
<div class="form-check">
    <img class="img-fluid float-end ms-5"
         style="max-height: 50px"
         loading="lazy"
         src="~/img/warning-drinking-when-driving.svg"
         alt="logo"
    >
    <input asp-for="WarningDrinkingWhenDriving" class="form-check-input" type="checkbox" aria-describedby="WarningDrinkingWhenDrivingHelp" />
    <label asp-for="WarningDrinkingWhenDriving" class="form-check-label"></label>
    <div id="WarningDrinkingWhenDrivingHelp" class="form-text">@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "WarningDrinkingWhenDriving").FirstOrDefault()?.Description</div>
    <span asp-validation-for="WarningDrinkingWhenDriving" class="text-danger"></span>
</div>
