@model Certifications
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="text-center">
    <div class="row align-items-start">
        @if(Model.Organic)
        {
        <div class="col">
            <img
                class="img-fluid m-3"
                style="max-height: 75px"
                loading="lazy"
                src="~/img/certification-organic.svg"
                alt="@ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Organic").FirstOrDefault()?.Description"
                title="@Localizer[ViewData.ModelMetadata.Properties.Where(m => m.PropertyName == "Organic").FirstOrDefault()?.Description ?? ""]"
            />
        </div>
        }
    </div>
</div>