@model List<ProductIngredientDto>
@inject IHtmlLocalizer<SharedResource> Localizer

<div class="d-flex flex-row">

    @foreach (ProductIngredientDto productIngredient in Model.OrderBy(pi => pi.Order))
    {
        @if (productIngredient.Ingredient != null)
        {
            string? localizedName = productIngredient.Ingredient.LocalizableStrings.GetLocalized(@System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName);

            if(String.IsNullOrEmpty(localizedName))
            {
                localizedName = Localizer[productIngredient.Ingredient.Name].Value;
            }

            <p class="@(productIngredient.Ingredient.Allergen ? "fw-bold" : "")">@localizedName</p>
            @if (productIngredient != Model.Last())
            {
                <span>,&nbsp;</span>
            }
            else
            {
                <span>.</span>
            }
        }
    }

</div>
