@model ELabel.ViewModels.IngredientDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ingredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Category" class="form-label"></label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<IngredientCategory>()" class="form-select"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ENumber" class="form-label"></label>
                <input asp-for="ENumber" class="form-control" />
                <span asp-validation-for="ENumber" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Allergen" /> @Html.DisplayNameFor(model => model.Allergen)
                </label>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
