@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Home Page"];
}

<section class="hero text-center pt-5">

    <!-- Large header banner -->

    <div class="">
        <svg class="bi" width="64" height="64" fill="currentColor">
            <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#qr-code-scan" />
        </svg>
    </div>
    <h1 class="display-1 text-bold">Open E-Label</h1>
    <h5 class="text-gray-soft text-regular mb-4">@Localizer["Open-source solution for electronic labels"].</h5>
    <a class="btn btn-light btn-lg mb-5" href="/Admin">@Localizer["Admin Dashboard"]</a>

</section>
