@model ELabel.ViewModels.WineProductDetailsDto

@{
    ViewData["Title"] = "Product details";
}

<h1>Product</h1>

<partial name="_DetailsPartial" />

<div class="mb-3">
    <h4>QR Code</h4>
    <hr />

    @Html.DisplayFor(model => model.QrCodeInfo)

</div>

<partial name="_AuditableEntityPartial" />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    @if (Model != null && Model.Images != null && Model.Images.Count > 0)
    {
        <a asp-action="DeleteImage" asp-route-id="@Model?.Id">Delete image</a> <span>|</span>
    }
    <a asp-action="ChangeImage" asp-route-id="@Model?.Id">Change image</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Duplicate" asp-route-id="@Model?.Id">Duplicate</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var imgElement = document.getElementById('image-preview');
            var checkSwitchImageBackground = document.getElementById('checkSwitchImageBackground');

            checkSwitchImageBackground.addEventListener('click', function () {
                if (checkSwitchImageBackground.checked) {
                    imgElement.classList.remove('bg-dark');
                    imgElement.classList.add('bg-light');
                }
                else {
                    imgElement.classList.remove('bg-light');
                    imgElement.classList.add('bg-dark');
                }
            });
        });
    </script>
}
